
//      ===========
//      =  Fonts  =
//      ===========
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
html{
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
}

//      ============
//      =  Global  =
//      ============

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

//      ===============
//      =  Variables  =
//      ===============

$Soft-blue: hsl(215, 51%, 70%);
$Cyan: hsl(178, 100%, 50%);

$main-background: hsl(217, 54%, 11%); 
$card-background: hsl(216, 50%, 16%);  
$line-color: hsl(215, 32%, 27%);  




// Let's go

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $main-background;
}
.card{
    width: calc(375px - 1em);
    max-width: 100%;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    background-color: $card-background;
    &__img{
        position: relative;
        cursor: pointer;
        &__nft{
            max-width: 100%;
            border-radius: .8em;
        }
        &__view{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: .8em;
            background-color: rgba($color: $Cyan, $alpha: .5);
            opacity: 0;
            transition: opacity .3s ease-in-out;
        }
        &:hover &__view{
            opacity: 1;
        }
    }
    &__heading{
        color: white;
        margin: 1em 0;
        @extend .--cyan;
    }
    &__description-paragraph{
        color: $Soft-blue;
    }
    &__info{
        display: flex;
        justify-content: space-between;
        margin: 1em 0;
        &__price-in-eth{
            color: $Cyan;
            font-weight: 600;
            @extend .center-y;
        }
        &__date{
            color: $Soft-blue;
            font-weight: 400;
            @extend .center-y;
        }
        img{
            margin-right: .4em;
        }
    }
    &__line{
        color: $line-color;
    }
    &__creator{
        @extend .center-y;
        margin: 1em 0;
        color: $Soft-blue;
        &__avatar{
            max-width: 2em;
            border: 1px solid white;
            border-radius: 50%;
            margin: 0 .8em 0 0;
        }
        &__name{
            color: white;
            margin: 0 .3em;
            font-weight: 400;
            @extend .--cyan;
        }
    }
}
.center-y{
    display: flex;
    align-items: center;
}
.--cyan{
    cursor: pointer;
    transition: color .3s ease-in-out;

    &:hover{
        color: $Cyan;
    }
}
